.title {
    text-align: center;
    font-family: 'Courier', 'Courier New', 'Times New Roman';
    font-size: 50px;
}

.links {
    font-family: 'Courier', 'Courier New', 'Times New Roman';
    font-size: 30px;
    text-align: justify;
}